[submodule "backend"]
	path = backend
	url = https://github.com/AquaUseful/java-lab567-back.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/AquaUseful/java-lab567-front.git
	branch = master
